body {
    font-family: Arial, sans-serif;
    font-family: var(--basic-font-family);
    font-size: 12px;
    font-weight: 400;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;    
}

/* header */
header {
    position: relative; 
    width: 100%; 
    height: auto;
    background:#f4f4f4; 
    color:#000;
    font-family: var(--head-font-family);
    font-size:24px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
header .inner {
    position: relative;
    margin: 0 auto;
    width:98%;
}
header .logo {
    position: absolute; 
    left:0; 
    top:0; 
    padding:0.4em 0;
    font-family: var(--basic-font-family);
}
header .sns {
    position: absolute; 
    right:0; 
    top:0; 
    padding:0.4em 0;
}
header .sns li a {
    padding:0.2em;
}
header .sns li a svg {
    width: 1em;
    height: auto;
}
header nav {
    visibility: visible;
}
header nav li {
    position: relative; 
    box-sizing: border-box; 
    padding: 0.8em; 
    font-size: 1rem;
}

/* main */
main {
    position: relative;
    margin: 0n auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}
section {
    text-align:center;
    letter-spacing: -0.1rem;
}
.section_01 {
    margin: 0 auto;
    padding: 10em 0;
    position: relative;
    width: 60%;
}
.section_01 .bg-title {
    font-size: 8rem;
    color: #f1f1f1;
    text-align: center;
    position: absolute;
    width: 100%;
}
.section_01 .main-title {
    font-size: 4rem;
    text-align: center;
    position: relative;
    width:100%;
}

/* footer */
footer {
    position: relative; 
    width: 100%; 
    height: auto; 
    background:#222;
    color:#fff;
}
footer .copyright {
    position: relative;
    margin: 0 auto;
    width: 98%;
    padding: 1em 0; 
    font-family: var(--head-font-family);
    font-size: 1rem;
    font-weight:100;
}

/* mobile ver. */
@media only screen and (max-width: 767px) {
    /* header mobile ver. */
    header .inner {
        width:96%;
    }
    header nav {
        visibility: hidden;
    }
    
    /* main mobile ver. */
    .section_01 {
        width: 96%;
    }
    .section_01 .bg-title {
        font-size: 5rem;
    }
    .section_01 .main-title {
        font-size: 2rem;
    }

    /* footer mobile ver. */
    footer .copyright {
        width:96%;
        font-size:0.8rem;
    }

}
