/* layout */
* {
    cursor: none;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--basic-font-color);
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1em;    
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 1em 0; 
    width: 100%; 
    height: auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: #fff;
    font-family: var(--basic-font-family);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
header.opaque {
    background:rgba(255, 255, 255, .6);
    color:#222; 
}
header.opaque.open {
    background:rgba(255, 255, 255, .8);
}
.blur {
    backdrop-filter: blur(4px);
}
header .inner {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width:90%;
}
header .logo {
    position:absolute; 
    left:0; 
    top:0; 
    padding:0.4em 0;
    font-family: var(--basic-font-family);
    font-weight: 600;
}
header .icon_nav {
    position: absolute; 
    right:0; 
    top:0;
}
header .mail_icon {
    width: 1.2em;
}
header .mail_icon,
header .ham
 {
    fill: #fff;
    stroke: #fff;
}
header.opaque .mail_icon,
header.opaque .ham {
    fill: #222;
    stroke: #222;
}
header .icon_nav .mobile_nav {
    display: none;
}
header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
header nav li {
    position: relative; 
    box-sizing: border-box; 
    padding: 0.8em 2em; 
    font-size: 1rem;
}
header nav li a {
    font-weight: 300;
    color:#fff;
}
header.opaque nav li a {
    color:#111;
}
header nav li a.active {
    color:#fff;
    font-weight: 600;
}
header.opaque nav li a.active {
    color: #111;
}

/* ham nav style */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 2em;
}
.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    /* stroke:#fff; */
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham8 .top {
    stroke-dasharray: 40 160;
}
.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}
.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
    stroke-dashoffset: -64px;
}
.ham8.active .middle {
    transform: rotate(90deg);
}
.ham8.active .bottom {
    stroke-dashoffset: -64px;
}
  
/* footer */
footer {
    position: relative; 
    width: 100%; 
    height: auto;
    background: #111; 
    color: #fff;
}
footer .inner {
    margin: 0 auto;
    padding: 2em 0;
    border-top: 1px solid #aaa;
    opacity: 0.6;
    width: 90%;
}
footer .copyright {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0; 
    font-family: var(--head-font-family);
    font-size: 0.8rem;
    font-weight: 200;
}

/* cursor */
.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
}


/* Tablets ver. */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Tablets header style */
    header {
        padding: 1rem 0 !important;        
    }
    header.open {
        background: rgba(0, 0, 0, .6);
    }
    header .inner {
        width: 90%;
    }
    header .logo {
        position: relative;
    }
    header nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 0;
    }
    header.open nav {
        height: auto;
    }
    header nav li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
        border-color: rgba(255, 255, 255, .2);
    }
    header nav li:last-child {
        border-bottom: none;
    }
    header nav li a {
        display: block;
        padding: 1rem 0;
        width: 100%;
    }
    header nav li a.active {
        font-weight: 600;
    }
    header.opaque nav li a.active {
        color: #111;
        font-weight: 600;
    }
    header .icon_nav .mobile_nav {
        display: block;
    }

}

/* Mobile ver. */
@media only screen and (max-width: 767px) {
    /* Mobile header style */
    header {
        padding: 1rem 0 !important;        
    }
    header.open {
        background: rgba(0, 0, 0, .6);
    }
    header .inner {
        width: 90%;
    }
    header .logo {
        position: relative;
    }
    header nav {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 0;
    }
    header.open nav {
        height: auto;
    }
    header nav li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid;
        border-color: rgba(255, 255, 255, .2);
    }
    header nav li:last-child {
        border-bottom: none;
    }
    header nav li a {
        display: block;
        padding: 1rem 0;
        width: 100%;
    }
    header nav li a.active {
        font-weight: 600;
    }
    header.opaque nav li a.active {
        color: #111;
        font-weight: 600;
    }
    header .icon_nav .mobile_nav {
        display: block;
    }

    /* Mobile footer style */
    footer .copyright {
        font-size:0.8rem;
    }
}
