/* layout */
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: var(--basic-font-color);
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;    
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 1em 0; 
    width: 100%; 
    height: auto;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color:#fff;
    font-family: var(--basic-font-family);
    font-size:24px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
header.opaque {
    background:rgba(255, 255, 255, .4);
    color:#222; 
}
.blur {
    backdrop-filter: blur(4px);
}
header .inner {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width:90%;
}
header .logo {
    position:absolute; 
    left:0; 
    top:0; 
    padding:0.4em 0;
    font-family: var(--basic-font-family);
    font-weight: 600;
}
header .sns {
    position: absolute; 
    right:0; 
    top:0; 
    padding:0.4em 0;
}
header .sns li a {
    padding:0.1em;
}
header .sns li a svg {
    width: 1em;
    height: auto;
    fill: #fff;
}
header.opaque .sns li a svg {
    fill: #222;
}
header nav li {
    position: relative; 
    box-sizing: border-box; 
    padding: 0.8em; 
    font-size: 1rem;
}
header nav li a {
    font-weight: 400;
    color:#fff;
}
header.opaque nav li a {
    color:#222;
}
header nav li a.active {
    color:#aaa;
}
/* footer */
footer {
    position: relative; 
    width: 100%; 
    height: auto;
    background: #111; 
    color: #fff;
}
footer .inner {
    margin: 0 auto;
    padding: 2em 0;
    border-top: 1px solid #aaa;
    opacity: 0.6;
    width: 90%;
}
footer .copyright {
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding: 0; 
    font-family: var(--head-font-family);
    font-size: 0.8rem;
    font-weight: 200;
}

/* mobile ver. */
@media only screen and (max-width: 767px) {
    /* header mobile ver. */
    header {
        padding: 1rem 0 !important;
    }
    header .inner {
        width: 96%;
    }
    header .logo {
        position: relative;
    }
    header nav {
        display: none !important;
    }
    header .sns {
        display: none !important;
    }

    /* footer mobile ver. */
    footer .copyright {
        width:96%;
        font-size:0.8rem;
    }
}
