body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;    
}

/* header */
header {
    position: relative;
    padding: 1em 0; 
    width: 100%; 
    height: auto;
    background:#f4f4f4; 
    color:#222;
    font-family: var(--head-font-family);
    font-size:24px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
header .inner {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width:90%;
}
header .logo {
    position:absolute; 
    left:0; 
    top:0; 
    padding:0.4em 0;
    font-family: var(--basic-font-family);
}
header .sns {
    position: absolute; 
    right:0; 
    top:0; 
    padding:0.4em 0;
}
header .sns li a {
    padding:0.1em;
}
header .sns li a svg {
    width: 1em;
    height: auto;
}
header nav {

}
header nav li {
    position: relative; 
    box-sizing: border-box; 
    padding: 0.8em; 
    font-size: 1rem;
}

/* footer */
footer {
    position: relative; 
    width: 100%; 
    height: auto; 
    background:#222;
    color:#fff;
}
footer .inner {
    padding: 2em 0;
}
footer .copyright {
    position: relative;
    margin: 0 auto;
    width: 90%;
    padding: 0; 
    font-family: var(--head-font-family);
    font-size: 1rem;
    font-weight:100;
}

/* mobile ver. */
@media only screen and (max-width: 767px) {
    /* header mobile ver. */
    header {
        padding: 1rem 0;
    }
    header .inner {
        width: 96%;
    }
    header .logo {
        position: relative;
    }
    header nav {
        display: none !important;
    }
    header .sns {
        display: none !important;
    }

    /* footer mobile ver. */
    footer .copyright {
        width:96%;
        font-size:0.8rem;
    }

}
