/* main Common style */
main {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: var(--basic-font-family);
}
section {
    text-align:center;
    letter-spacing: -0.04rem;
    position: relative;    
    width: 100%;
    padding-bottom:8rem;
}
section h2 {
    font-size: 4rem; 
    margin-bottom: 2rem;
    padding-top:8rem;
    letter-spacing: -0.1rem;
}

/* About style */
#About {
    position: relative;
    margin: 0 auto;
    padding: 0;    
    width: 100%;
    overflow: hidden;
    background: #111;
}
#About .textArea h1 {
    font-size: 6rem;
    padding-bottom: 3rem;
}
#About .textArea h1 em span {
    letter-spacing: -1.4rem;
}
#About .textArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#About .about-text {
    width: 60%;
    margin: 0 auto;
    font-size: 2.8rem;
    letter-spacing: -0.01rem;
    line-height: 3.6rem;
    text-align: center;
    position: relative;
    color: var(--bg-font-color);
}
#About .about-text p {
    text-shadow: 1px 1px 15px black;
}
#About .videoArea {
    width: 100%;
    height: auto;
    z-index: -1;
    opacity: 0.8;
}
#About .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위한 값 */
    height: 0;
    overflow: hidden;
}
#About .video-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Skills style */
#Skills {
    background:var(--basic-bg-color);
    color: #fff;
}
#Skills .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Skills ul li a {
    opacity: 1;
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    padding: 0.4em;
    color: var(--bg-font-color);
    line-height: 1.6em;
}
#Skills ul:hover li:not(:hover) a {
    opacity: 0.8;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

/* Work style */
#Work {
    background: url("../../images/winter_bg.jpg") repeat;
    background-attachment: fixed;
    background-size: cover;
}
#Work .history-list {
    position: relative;
    margin: 0 auto;
    width: 90%;
    align-items: flex-start;
}
#Work ul .list-box {
    position:relative;
    text-align: left;
    font-family: var(--head-font-family);
    font-size: 18px;
    letter-spacing: -0.2px;
    width: 31.3%;
    transition: all 0.3s;
}
#Work ul .list-box {
    filter: grayscale(0);
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px #333;
}
#Work ul:hover .list-box:not(:hover) {
    filter: grayscale(100%);
}
#Work .list-box .img-box {
    position: relative;
    background: #f1f1f1;
    width: 100%;
    height: auto;
    max-height: 240px;    
    overflow: hidden;
}
#Work .list-box .img-box img {
    width: 100%;
    height: auto;    
    margin-top: -28%;
}
#Work .list-box .txtArea {
    font-size: 1em;
    background: #fff;
    opacity: 0.8;
    padding: 0.8em;
}
#Work .list-box .txtArea p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
    line-height: 1.4em;
}
#Work .list-box .txtArea p b {
    font-weight: 600;
}
#Work .list-box .txtArea p em {
    font-size: 0.8em;
}

/* Projects style */
#Projects {
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Projects ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Projects ul span {
    font-size: 2rem;
    padding: 4rem 0 1rem 0;
    color: #aaa;
}
#Projects ul:hover span {
    color: #111;
}
#Projects ul li a {
    color: #111;
    font-size: 2.4rem;
    line-height: 4.2rem;
    letter-spacing: -0.1rem;
}
#Projects ul li a em {
    font-weight: 200;
}

#Projects ul:hover li:not(:hover) a {
    opacity: 0.5;
    color: #fff;
    -webkit-text-stroke: 1px #000;
}

.project-box a {
    z-index: 2;
}

.project-box .image {
    position: fixed;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;    
    transition: all 0.3s;
    opacity: 0;
}
.project-box:hover .image {    
    width: 400px;    
    height: 400px;
    opacity: 0.8;
}
.project-box .image p {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: block;    
}
.project-box .image p img {
    width: 400px;
    height: auto;
    position: absolute;
    top: 0;  
    left: 0;  
}
.project-box:hover .image p img {
    animation: imgUpdown 4s linear 0s infinite alternate;
}
@keyframes imgUpdown {
    from {
        top: 0;
    }
    to {
        top: -100%;
    }
}

/* Contact style */
#Contact {
    background: #111;
    padding-bottom: 6rem;
}
#Contact .inner {
    position: relative;
    margin: 0 auto;
    width: 90%;
    color: #fff;
}
#Contact h2 {
    color: #fff;
}
#Contact .txtArea {
    text-align: left;
    font-size: 2rem;
    line-height: normal;
    letter-spacing: -0.01em;
    padding-top: 4rem;
}

#Contact .txtArea h3 {
    color: #ccc;
    font-size:1.2em;
    line-height: 1.2em;
}

/* Tablets ver. */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Tablets About style */
    #About .textArea h1 {
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    #About .about-text {
        width: 90%;
        font-size: 2rem;
        line-height: 2.4rem;
    }

    /* Tablets Work style */
    #Work ul .list-box {
        width: 48%;
    }
    #Work ul .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #Work .list-box .img-box img {
        margin-top: -18%;
    }
}

/* Mobile ver. */
@media only screen and (max-width: 767px) {

    section {
        padding-bottom: 6rem;
    }
    section h2 {
        font-size:3.2rem;
        letter-spacing: -0.1rem; 
        margin-bottom: 2rem;
    }

    /* Mobile About style */
    #About {
        width: 100%;
    }
    #About .textArea h1 {
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    #About .textArea h1 em span {
        letter-spacing: -0.7rem;
    }

    #About .about-text {
        font-size: 1.4rem;
        width: 90%;
        line-height: 2rem;
    }
    #About .videoArea {
        width: 280%;
        margin: 0 -140%;
    }

    /* Mobile Skills style */
    #Skills ul li a {
        font-size: 2rem;
    }


    /* Mobile Work style */
    #Work ul .list-box {
        width: 100%;
    }

    #Work ul .list-box .txtArea {
        line-height: 1.4rem;
    }
    #Work ul .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #Work ul .list-box .txtArea em {
        font-size: 1rem;        
    }
    #Work .list-box .img-box img {
        margin-top: -16%;
    }

    /* Mobile Projects style */
    #Projects ul span {
        font-size: 2rem;
    }
    #Projects ul li a {
        font-size: 2rem;
    }

    /* Mobile Contact style */
    #Contact .txtArea {
        font-size: 1.4rem;
    }
}