/* main */
main {
    position: relative;
    margin: 0n auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: var(--basic-font-family);
}
section {
    text-align:center;
    letter-spacing: -0.1rem;
    position: relative;    
    width: 100%;
    padding-bottom:10rem;
}

section h1 {
    font-size: 8rem;
}
section h2 {
    font-size: 4rem; 
    margin-bottom: 2rem;
    padding-top:10rem;
}

.section_01 {
    margin: 0 auto;
    padding: 10rem 0;
    position: relative;
    width: 100%;
}
.section_01 em span {
    letter-spacing: -1rem;
}

.section_01 .about-text {
    font-size: 2rem;
    text-align: center;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.videoArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위한 값 */
    height: 0;
    overflow: hidden;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section_02 {
    background:#000;
    color:#fff;
}
.section_02 .skill-list {
    line-height: 2.4rem;
    display: inline-block;
    padding: 0 2em;
}
.section_02 .skill-list li {
    transition: all 0.3s ease-in-out;
    font-size: 2rem;
    opacity:0.5;
    padding:0.4em;
}
.section_02 .skill-list li:hover {
    font-size: 4rem;
    opacity: 1;
}
.section_03 {
    background: url("/images/flower_pattern_bg.jpg") repeat;
    background-attachment: fixed;
}
.section_03 .history-list {
    position: relative;
    margin: 0 auto;
    width: 90%;
    align-items: flex-start;
}
.section_03 .list-box {
    position:relative;
    text-align: left;
    font-family: var(--head-font-family);
    font-size: 18px;
    letter-spacing: -0.2px;
    width: 31.3%;
}
.section_03 .list-box .img-box {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    background: #f4f4f4;
}
.section_03 .list-box .txtArea {
    font-size: 1em;
    background: #ccc;
    padding: 0.8em;
    margin-top: -1em;
    border-radius: 0em 0em 1em 1em;
}
.section_03 .list-box .txtArea p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
    line-height: 1.4em;
}
.section_03 .list-box .txtArea p b {
    font-weight: 600;
}
.section_03 .list-box .txtArea p em {
    font-size: 0.8em;
}

.section_04 {
    background:#eee;
}

.project-box{
    cursor:pointer;
    font-size:4rem;
    color: #ccc;
    display: inline-block;
    padding: 2rem;
    position: relative;
  }

.project-box:hover{
    color: #000;
}

.section_05 .inner {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

.section_05 .txtArea {
    font-size: 2rem;
    line-height: 1.2em;
    text-align: left;
    line-height: 1.2em;
}

.section_05 .txtArea h3 {
    color: #aaa;
    font-size:1.2em;
    line-height: 1.2em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* 태블릿 기기를 위한 스타일 지정 */
    .section_03 .list-box {
        width: 48%;
    }
    .section_03 .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* mobile ver. */
@media only screen and (max-width: 767px) {
    /* main mobile ver. */
    section {
        padding: 6em 0;
    }

    section h1 {font-size:4rem;}
    section h2 {font-size:2.8rem; margin-bottom: 2rem;}

    .section_01 {
        width: 96%;
    }

    .section_01 em span {
        letter-spacing: -0.6rem;
    }

    .section_01 .about-text {
        font-size: 1.8rem;
        width: 90%;
    }

    .section_02 .skill-list {
        font-size: 1.4rem;
    }
    .section_02 .skill-list li:hover {
        font-size: 2.4rem;
    }

    .section_03 .history-list {
        width: 96%;
    }
    .section_03 .list-box {
        width: 100%;
    }

    .section_03 .list-box .txtArea {
        line-height: 1.4rem;
    }
    .section_03 .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section_03 .list-box .txtArea em {
        font-size: 1rem;
        
    }
    .section_05 .txtArea {
        font-size: 1.4rem;
    }
}