/* main Common Css */
main {
    position: relative;
    margin: 0n auto;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-family: var(--basic-font-family);
}
section {
    text-align:center;
    letter-spacing: -0.1rem;
    position: relative;    
    width: 100%;
    padding-bottom:10rem;
}
section h1 {
    font-size: 8rem;
}
section h2 {
    font-size: 4rem; 
    margin-bottom: 2rem;
    padding-top:10rem;
}

/* About style */
#About {
    margin: 0 auto;
    padding: 10rem 0;
    position: relative;
    width: 100%;
}
#About em span {
    letter-spacing: -1rem;
}
#About .about-text {
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
    position: relative;
    color: var(--bg-font-color);
}
#About .videoArea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#About .video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율을 유지하기 위한 값 */
    height: 0;
    overflow: hidden;
}
#About .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Skills style */
#Skills {
    background:var(--basic-bg-color);
    color: #ccc;
}
#Skills ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Skills ul li a {
    transition: all 0.3s ease-in-out;
    font-size: 4em;
    padding: 0.2em;
    color: var(--bg-font-color);
    line-height: 1.25em;
}
#Skills ul:hover li:not(:hover) a {
    opacity: 0.5;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}

/* Work style */
#Work {
    background: url("/images/flower_pattern_bg.jpg") repeat;
    background-attachment: fixed;
}
#Work .history-list {
    position: relative;
    margin: 0 auto;
    width: 90%;
    align-items: flex-start;
}
#Work .list-box {
    position:relative;
    text-align: left;
    font-family: var(--head-font-family);
    font-size: 18px;
    letter-spacing: -0.2px;
    width: 31.3%;
}
#Work .list-box .img-box {
    width: 100%;
    height: 240px;
    border-radius: 1em;
    background: #f4f4f4;
}
#Work .list-box .txtArea {
    font-size: 1em;
    background: #ccc;
    padding: 0.8em;
    margin-top: -1em;
    border-radius: 0em 0em 1em 1em;
}
#Work .list-box .txtArea p {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 0 1rem;
    line-height: 1.4em;
}
#Work .list-box .txtArea p b {
    font-weight: 600;
}
#Work .list-box .txtArea p em {
    font-size: 0.8em;
}

/* Projects style */
#Projects {
    background:#f1f1f1;
    color: #111;
}
#Projects ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#Projects ul span {
    font-size: 2em;
}
#Projects ul li a {
    color: #111;
    font-size: 4em;
    line-height: 2em;
}

#Projects ul:hover li:not(:hover) a {
    opacity: 0.5;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.project-box a {
    z-index: 2;
}

.project-box .image {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
    /* transform: translate(-50%, -50%); */
    width: 0;
    transition: width 0.3s;
}
.project-box:hover .image {
    width: 400px;
    opacity: 0.4;

}

/* Contact style */
#Contact {
    width: 100%;
}
#Contact .inner {
    position: relative;
    margin: 0 auto;
    width: 90%;
}

#Contact .txtArea {
    font-size: 2rem;
    line-height: 1.2em;
    text-align: left;
    line-height: 1.2em;
}

#Contact .txtArea h3 {
    color: #aaa;
    font-size:1.2em;
    line-height: 1.2em;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* 태블릿 기기를 위한 스타일 지정 */
    #Work .list-box {
        width: 48%;
    }
    #Work .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

/* Mobile ver. */
@media only screen and (max-width: 767px) {

    section {
        padding: 6em 0;
    }

    section h1 {font-size:4rem;}
    section h2 {font-size:2.8rem; margin-bottom: 2rem;}

    /* Mobile About style */
    #About {
        width: 96%;
    }

    #About em span {
        letter-spacing: -0.6rem;
    }

    #About .about-text {
        font-size: 1.8rem;
        width: 90%;
    }

    /* Mobile Skills style */
    #Skills ul {
        font-size: 1.4rem;
    }


    /* Mobile Work style */
    #Work .history-list {
        width: 96%;
    }
    #Work .list-box {
        width: 100%;
    }

    #Work .list-box .txtArea {
        line-height: 1.4rem;
    }
    #Work .list-box .txtArea p {
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #Work .list-box .txtArea em {
        font-size: 1rem;
        
    }

    /* Mobile Contact style */
    #Contact .txtArea {
        font-size: 1.4rem;
    }
}